<a href="#install" class="text-4xl" id="install"># Install</a>
<hr class="h-1 mx-auto my-4 bg-gray-700 border-0 rounded md:my-10"/>
<div>
    <p class="text-lg">
        We maintain both a npm package and a CDN build. Feel free to use either one, but we recommend
        that you use the npm package.
    </p>
</div>
<div class="mt-6">
    <h3 class="text-2xl">CDN</h3>
    <div style="background-color: #1d2538;"
         class="mt-10 overflow-x-scroll max-w-sm sm:max-w-7xl border-2 border-gray-800 rounded-lg shadow-xl drop-shadow-lg">
            <pre>
                <code class="language-html -mb-10 -mt-3">
&lt;script src="//unpkg.com/spargo" defer&gt;&lt;/script&gt;
                </code>
            </pre>
    </div>
    <h3 class="text-2xl mt-10">NPM</h3>
    <div style="background-color: #1d2538;"
         class="mt-10 overflow-x-scroll max-w-sm sm:max-w-7xl border-2 border-gray-800 rounded-lg shadow-xl drop-shadow-lg">
            <pre>
                <code class="language-shell -mb-10 -mt-3">
npm install spargo
                </code>
            </pre>
    </div>
    <div style="background-color: #1d2538;"
         class="mt-10 overflow-x-scroll max-w-sm sm:max-w-7xl border-2 border-gray-800 rounded-lg shadow-xl drop-shadow-lg">
            <pre>
                <code class="language-javascript -mb-10 -mt-3">
import Spargo from 'spargo';

new Spargo();

// Then compile this file and import it into your markup.
                </code>
            </pre>
    </div>
</div>
<hr class="w-48 h-1 mx-auto my-10 bg-gray-700 border-0 rounded md:my-20"/>

<a href="#alert_styles" class="text-4xl" id="alert_styles"># Alert Styles</a>
<hr class="h-1 mx-auto my-4 bg-gray-700 border-0 rounded md:my-10"/>
<div class="border-l-4 border-yellow-600 bg-yellow-200 p-4 mt-10">
    <div class="flex">
        <div class="flex-shrink-0">
            <svg class="h-8 w-8 text-yellow-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
                      clip-rule="evenodd"/>
            </svg>
        </div>
        <div class="ml-3">
            <h3 class="text-lg font-medium text-yellow-800">Attention needed.</h3>
            <div class="mt-2 text-lg text-yellow-700">
                <p>
                    Anytime that you see a yellow alert box, please pay attention. It will give potentially vital
                    information.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="border-l-4 border-red-600 bg-red-200 p-4 mt-10">
    <div class="flex">
        <div class="flex-shrink-0">
            <svg class="h-8 w-8 text-red-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z"
                      clip-rule="evenodd"/>
            </svg>
        </div>
        <div class="ml-3">
            <h3 class="text-lg font-medium text-red-800">Potential error!</h3>
            <div class="mt-2 text-lg text-red-700">
                <p>
                    Anytime that you see a red alert box, pay close attention. It will give vital information.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="border-l-4 border-blue-600 bg-blue-200 p-4 mt-10">
    <div class="flex">
        <div class="flex-shrink-0">
            <svg class="h-8 w-8 text-blue-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
                      clip-rule="evenodd"/>
            </svg>
        </div>
        <div class="ml-3">
            <h3 class="text-lg font-medium text-blue-800">Information.</h3>
            <div class="mt-2 text-lg text-blue-700">
                <p>
                    Anytime that you see a blue alert box, then know some helpful information is at hand.
                </p>
            </div>
        </div>
    </div>
</div>