<div class="relative isolate min-h-full">
    <img src="/images/error_bg.avif" alt="mountains" class="absolute inset-0 -z-10 h-full w-full object-cover object-top">
    <div class="mx-auto max-w-7xl px-6 py-32 text-center sm:py-40 lg:px-8">
        <p class="text-base font-semibold leading-8 text-white">{{error.status}}</p>
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-white sm:text-5xl">{{message}}</h1>
        <p class="mt-4 text-base text-white/70 sm:mt-6">Sorry, we have a problem here.</p>
        <div class="mt-10 flex justify-center">
            <a href="/" class="text-sm font-semibold leading-7 text-white"><span aria-hidden="true">&larr;</span> Back to home</a>
        </div>
    </div>
</div>