<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The lightweight JavaScript framework for inserting a little reactivity into some markup.">
    <meta name="keywords" content="JavaScript, JavaScript Framework, Lightweight JavaScript Framework, vdom, spargo, spargo.js, javascript-framework">
    <meta name="author" content="Spero League LLC">

    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu&display=swap" rel="stylesheet">

    <script src="//unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js" nonce="{{@cspNonce}}" crossorigin></script>
</head>
<body class="h-full font-sans" style="background-color: #313E5E">
{{{body}}}
<script nonce="{{@cspNonce}}">hljs.highlightAll();</script>
</body>
</html>
